body {
    display: grid;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 10% 1fr 1fr 1fr;
    grid-template-areas: 
        "nav landing landing landing"
        "nav sh sh sh"
        "nav skills skills skills"
        "nav aboutMeImg1 aboutMe aboutMe"
        "nav aboutMe2 aboutMe2 aboutMeImg2"
        "nav aboutMeImg3 aboutMe3 aboutMe3"
        "nav portfolioHeader portfolioHeader portfolioHeader"
        "nav portfolio portfolio portfolio"
        "nav contactMe contactMe contactMe";
        grid-gap: 20px;
}

.landing {
    grid-area: landing;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}

.landingTxt1{
    position: absolute;
    bottom: 85px;
    left: 25%;
    right: 25%;
}

.landingTxt2{
    position: absolute;
    bottom: 10px;
    left: 35%;
    right: 35%;
}

#loonImg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

img {
    border: 5px solid white;
}

a {
    text-decoration: none;
}
.navHover {
    font-size: 0.5rem;
    text-align: center;
    color: white;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 0px 20px 20px 0px;
    grid-area: nav;
    background-color: black;
    height: 100vh;
    width: 10%;
    margin: 0px;
    bottom: 20px;
    z-index: 5;
}

.nav li {
    margin: 50px 0px;
    background-color: black;
    z-index: 5;
}

.about {
    font-size: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    width: auto;
    height: auto;
}

.aboutMe {
    grid-area: aboutMe;
    margin-top: 30px;
}

.aboutMe h2 {
    display: block;
    align-self: center;
    margin: 0px;
    width: 100%;
    background-color: #120956;
    border-radius: 20px;
    border: 5px solid white;
}

.about p {
    align-self: center;
}

.aboutMe2 {
    grid-area: aboutMe2;
}

.aboutMe3 {
    grid-area: aboutMe3;
}

.aboutImg {
    background-color: wheat;
    border-radius: 20px;
    height: 450px;
    width: 600px;
}

.aboutMeImg1 {
    grid-area: aboutMeImg1;
    margin-top: 40px;
}

#catsImg {
    border-radius: 20px;
}

.aboutMeImg2 {
    grid-area: aboutMeImg2;
}

#circleGlassesImg {
    border-radius: 20px;
}

.aboutMeImg3 {
    grid-area: aboutMeImg3;
    height: 350px;
}

#spaceshipImg {
    border-radius: 20px;
}

.sh {
    grid-area: sh;
    color: white;
    background-color: #120956;
    border-radius: 20px;
    border: 5px solid white;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.sh h1 {
    margin: 0px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    grid-area: skills;
    background-color: black;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 20px;
    justify-content: space-evenly;
}

.skill {
    width: auto;
    height: 45%;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.skill h3 {
    margin: 0px;
}

.portfolioHeader {
    grid-area: portfolioHeader;
    background-color: #120956;
    border-radius: 20px;
    border: 5px solid white;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.portfolioHeader h1 {
    margin: 0px;
}

.portfolio {
    display: flex;
    grid-area: portfolio;
    background-color: black;
    width: 100%;
    height: 65vh;
    border-radius: 20px;
    justify-content: space-between;
}

.project {
    height: 100%;
    width: 30%;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.project h3 {
    font-size: 2rem;
    margin-top: 10px;
}
 
.project img {
    border-radius: 20px;
    width: 100%;
}

.button {
    width: 100%;
    height: auto;
}

.button h6 {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: limegreen;
    border: 3px solid white;
}
 
.button a {
    color: white;
    text-decoration: none;
}

.button a:hover {
    color: green;
}

.button p {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: black;
}

.contactMe {
    grid-area: contactMe;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.contactMe p {
    margin: 0px;
}