html{
    margin-right: 90px;
}
body {
    display: grid;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 10% 45% 45%;
    grid-template-areas: 
        "nav landing landing"
        "nav sh sh"
        "nav skills skills"
        "nav aboutMeImg aboutMe"
        "nav portfolioHeader portfolioHeader"
        "nav portfolio portfolio"
        "nav contactMe contactMe";
        grid-gap: 20px;
}

.landing {
    grid-area: landing;
    width: 100%;
    height: 94vh;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}

.landingTxt1{
    position: absolute;
    bottom: 85px;
    left: 25%;
    right: 25%;
}

.landingTxt2{
    position: absolute;
    bottom: 10px;
    left: 35%;
    right: 35%;
}

#loonImg {
    box-sizing: border-box;
    border: 5px solid white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 30px 0px;
}

a {
    text-decoration: none;
}

.navHover {
    font-size: 0.5rem;
    text-align: center;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    grid-area: nav;
    background-color: black;
    height: 100vh;
    width: 20vh;
    z-index: 5;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.nav li {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    justify-self: center;
    justify-content: center;
    z-index: 5;
}

.navItem {
    padding: 10px;
    border-radius: 20px;
}

.navItem:hover {
    box-sizing: border-box;
    background-color: #120956;
    border: 5px solid white;
}

.about {
    font-size: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    width: auto;
    height: auto;
}

.aboutMe {
    grid-area: aboutMe;
    width: 100%;
    height: auto;
}

.aboutMe h2 {
    display: block;
    align-self: center;
    margin: 0px;
    width: 100%;
    background-color: #120956;
    border-radius: 20px;
    border: 5px solid white;
}

.about p {
    align-self: center;
}

.aboutImg {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.aboutImg img {
    box-sizing: border-box;
    border-radius: 20px;
    border: 5px solid white;
    height: auto;
    width: 100%;
    margin: 10px 0px;
}

.aboutImages {
    grid-area: aboutMeImg;
    width: 100%;
    height: auto;
}

.sh {
    grid-area: sh;
    color: white;
    background-color: #120956;
    border-radius: 20px;
    box-sizing: border-box;
    border: 5px solid white;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}

.sh h1 {
    margin: 0px;
    width: 100%;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    grid-area: skills;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 25vh;
    height: auto;
    border-radius: 20px;
    justify-content: space-evenly;
}

.skill {
    width: 120px;
    align-self: center;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
}

.skill h3 {
    margin: 0px;
}

.portfolioHeader {
    grid-area: portfolioHeader;
    background-color: #120956;
    border-radius: 20px;
    border: 5px solid white;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.portfolioHeader h1 {
    margin: 0px;
}

.portfolio {
    display: flex;
    grid-area: portfolio;
    background-color: black;
    width: 100%;
    height: 65vh;
    border-radius: 20px;
    justify-content: space-between;
}

.project {
    height: 100%;
    width: 30%;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
}

.project h3 {
    font-size: 2rem;
    margin-top: 10px;
}
 
.project img {
    border-radius: 20px;
    width: 100%;
}

.button {
    width: 100%;
    height: auto;
}

.button h6 {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: limegreen;
    border: 3px solid white;
}
 
.button a {
    color: white;
    text-decoration: none;
}

.button a:hover {
    color: green;
}

.button p {
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 1.1rem;
    background-color: black;
}

.contactMe {
    grid-area: contactMe;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.contactMe p {
    margin: 0px;
}